* {
  box-sizing: border-box;
  background:hsla(178, 100%, 28%, 1);
  font-family: 'Muli', sans-serif;
}
body html {
  margin: 0;
  padding: 0;
  background:hsla(178, 100%, 28%, 1);
}
.list-animals {
  display: grid;
  margin: 0 50px 50px 50px;
  padding: 20px;
  padding-bottom: 30px;
  border: 30px solid;
  border-image: radial-gradient(hsla(153, 100%, 87%, 1), hsla(178, 100%, 28%, 1),hsla(200, 100%, 27%, 1),hsla(153, 100%, 87%, 1),hsla(178, 100%, 28%, 1),hsla(200, 100%, 27%, 1),hsla(190, 4%, 18%, 1)) 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid, li {
  display: grid;
  margin: 0.5em;
}
.animal-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  font-size: 0.3em;
  height: 300px;
  width: 275px;
  background: hsla(153, 100%, 87%, 1);
  border-radius: 5px;
  border: 5px solid black;
  border-top: 19px solid black;
  transition: all 3s ease;
}
img {
  height: 150px;
  width: 150px;
  margin:  0.6rem auto;
  border: 3px solid black;
  border-radius: 5px;
  outline: 2px solid black;
  outline-offset: -3px;
}

legend {
  color:hsla(153, 100%, 87%, 1);
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 19px;
  background: black;
  
} 
